<!-- initialize gmap -->
<script type="text/javascript">	 showMap();	</script>

<div id="map-canvas" 
	style="height:648px; 
  				width:100%; 
					margin-top:-20px; 
					overflow:hidden;"> 
</div>

