<div class="row" style="text-center">
	<div class="col-md-12">	
		<div class="text-center">
			<img alt="" src="http://weknowmemes.com/wp-content/uploads/2014/04/fight-me-u-lil-bitch.jpg" height="40%" width="40%" />
				<br><br>
			<code>Fuck paying brokers.  Be the broker. <br>
			If you find the next tenant for your apartment, you get the broker fee. </code>
		</div>
	</div>
</div>
